@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    margin :0 ; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

body {
    display: flex ;
    align-items: center;
    justify-content: center ;
    min-height: 100vh;
    padding : 15px ;
    background : linear-gradient(#E9E9FF , #883247) ; 
    color: #000000;
}

.container {
    width : 900px ; 
    background : #E9E9FF;
    padding : 32px ;
    overflow: hidden;
    border-radius: 23px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1) ;
}

.container::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;   
    width: 100%;
    height: 1px;
    background: #000000;
} 

.header {
    display:flex ; 
    align-items: center ;
    justify-content: space-between;
}

.header .logo-wrapper {
    display: flex ;
    gap : 18px ;
    align-items : center ;
}

.header .logo-wrapper .logo {
    width: 55px ;
    height: 56px ;
    display :flex ;
    background : #472a63 ;
    border-radius: 15px ;
    align-items: center ;
    justify-content: center ;
    color :   #fff ;
    flex-shrink: 0;
    font-size: 1.35rem;
}

.header .logo-wrapper h1{
    font-size: 1.9rem ;
    font-weight: 700;

}
.header .theme-toggle {
    height : 43px ;
    width : 43px ;
    background : #472a63 ;
    border:1px solid #000000;
    border-radius: 50% ;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex ;
    align-items: center ;
    justify-content: center;
}
